doctype html
html 
      head
         title = pageTitle
      body

         .parent
            .child
               .element.class-tow.class-one 
               | Hello From Pug World hallo from me 

